*{
    box-sizing: border-box;
}
body{
    margin: 25px;
    background: #121212;
}
.grid-container {
    display: grid;
    grid-template-columns:-0.5fr repeat(4, 1fr);
    grid-template-rows: 1fr 0.1fr 1fr;
    gap: 84px 30px;
}
  
.header { grid-area: 1 / 1 / 4 / 2; } 
.today { grid-area: 1 / 2 / 2 / 3; } 
.highlights { grid-area: 1 / 3 / 2 / 6; }
.forecast { grid-area: 3 / 2 / 4 / 3; }
.advertising { grid-area: 3 / 3 / 4 / 6; }

.header{
    display: grid;
    align-content: space-between;
    width: 121px;
    border-radius: 34px;
    background: radial-gradient(344.65% 167.74% at 0% 0%, rgba(0, 0, 0, 0.39) 0%, rgba(0, 0, 0, 0.00) 100%);
    height: 1030px;
    backdrop-filter: blur(14px);
    text-align: center;
}
.header-part-1{
    display: grid;
}
.header-part-2{
    display: grid;
}
.header-part-1 span{
    margin-top:103px;
    border-bottom: 1px solid #FFFFFF4D;
    color: #FFFFFF99;
    padding-bottom: 11px;
}
.main-page{
    background: url(./photos/main-page-icn.svg);
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    margin: auto;
    margin-top: 45px;
}
.zodiac-page{
    background: url(./photos/horoscop-page-icn.svg);
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    margin: auto;
    margin-top: 45px;
}
.mobile-page{
    background: url(./photos/mobileshape-icn.svg);
    background-repeat: no-repeat;
    height: 36px;
    width: 32px;
    margin: auto;
    margin-top: 45px;
}
.currency-page{
    background: url(./photos/curency-page-icn.svg);
    background-repeat: no-repeat;
    height: 36px;
    width: 36px;
    margin: auto;
    margin-top: 45px;
}
.language-change-btn{
    background: url(./photos/english-icn.svg);
    background-repeat: no-repeat;
    height: 36px;
    width: 36px;
    border: transparent;
    margin: auto;
    cursor: pointer;
}
.day-night-btn{
    width: 84px;
    height: 38px;
    background: #FFFFFF4D;
    border: transparent;
    border-radius: 36px;
    margin: auto;
    margin-top: 46px;
    margin-bottom: 47px;
    background: url(./photos/night-theme-icn.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    transition: background 0.22s ease;
}
.settings-btn{
    background: url(./photos/setting-icn.svg);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    border: transparent;
    margin: auto;
    margin-bottom: 45px;
    cursor: pointer;
}
.day-mode {
    background: gray;    
}

.day-night-btn.active{
    background: url(./photos/day-theme-icn.svg);
    background-repeat: no-repeat;
    
}
.today{
    padding: 56px 15px 57px 22px;
    border-radius: 34px;
    background: radial-gradient(344.65% 167.74% at 0% 0%, rgba(0, 0, 0, 0.39) 0%, rgba(0, 0, 0, 0.00) 100%);
    backdrop-filter: blur(14px);
}
.today-img-div{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    gap: 35px;
    border-bottom: 0.5px solid #FFFFFF80;
    padding-bottom: 58px;
}
.today-img-div p{
    color:#FFFFFFB2;
    font-size: 18px;
    font-weight: 400;
}
.today-head{
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.4px;
    align-items: center;
}
.search-btn{
    width: 69px;
    height: 69px;
    border-radius: 34.5px;
    background: rgba(0, 0, 0, 0.30);
    border: transparent;
    cursor: pointer;
}
.today-img-div h2{
    font-size: 55px;
    letter-spacing: 1.1px;
    font-weight: 400;
    margin: 0;
}
.today-second-part{
    display: flex;
    justify-content: space-between;
    align-items: end;
    color: #FFFFFFB2;
    margin-top: 25px;
}
a{
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.14px;
}
#hours{
    color: rgba(255, 255, 255, 0.90);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.location-icn{
    background: url(./photos/location-icn.svg);
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
}
.location,
.calendar{
    display: flex;
    align-items: center;
    gap: 9px;
}
.calendar-icn{
    background: url(./photos/calendar-icn.svg);
    height: 21px;
    width: 21px;
}
.location{
    margin-bottom: 10px;
}
.highlights{
    display: grid;
    grid-template-columns: 260px 260px 260px;
    gap: 20px;
    border-radius: 34px;
    background: radial-gradient(344.65% 167.74% at 0% 0%, rgba(0, 0, 0, 0.39) 0%, rgba(0, 0, 0, 0.00) 100%);
    backdrop-filter: blur(14px);
    height: 540px;
    padding: 69px 30px 20px 30px;
    justify-content: space-evenly;
}
#higlights-header{
    color: #FFF;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.44px;
    position: absolute;
    left: 27px;
    top: 20px;
}
.uv-index{
    position: relative;
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.30);
    height: 233px;
    display: grid;
    justify-content: center;
}
p{
    margin: 0;
}
.uv-index p,
.sunrise p{
    color: #FFFFFFCC;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.54px;
    padding-top: 25px;
}
.uv{
    display: flex;
    align-items: baseline;
    gap: 2px;
    position: absolute;
    bottom: 20px;
    left: 40%;
    color: #FFF;
    font-size: 40px;
    letter-spacing: 0.4px;
    font-weight: 500;
}
#uv{
    color: #FFFFFF99;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
}
.sunrise{
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.30);
    height: 233px;
    position: relative;
}
.sunrise p{
    text-align: start;
    padding-left: 20px;
}
.uv-index p{
    padding-left: 20px;
}