*{
    box-sizing: border-box;
}
body{
    margin: 25px;
    background: radial-gradient(344.65% 167.74% at 0% 0%, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0.00) 100%);
}
.grid-container {
    display: grid;
    grid-template-columns:-0.5fr repeat(4, 1fr);
    grid-template-rows: 1fr 0.1fr 1fr;
    gap: 0px 30px;
}
  
.header { grid-area: 1 / 1 / 4 / 2; } 
.today { grid-area: 1 / 2 / 2 / 3; } 
.highlights { grid-area: 1 / 3 / 2 / 6; }
.forecast { grid-area: 3 / 2 / 4 / 3; }
.advertising { grid-area: 3 / 3 / 4 / 6; }
.header{
    display: grid;
    align-content: space-between;
    width: 121px;
    border-radius: 34px;
    background: radial-gradient(344.65% 167.74% at 0% 0%, rgba(0, 0, 0, 0.39) 0%, rgba(0, 0, 0, 0.00) 100%);
    height: 1030px;
    backdrop-filter: blur(14px);
    text-align: center;
}
.header-part-1{
    display: grid;
    gap: 45px;
}
.header-part-2{
    display: grid;
}
.header-part-1 span{
    margin-top:103px;
    border-bottom: 1px solid #FFFFFF4D;
    color: #FFFFFF99;
    padding-bottom: 11px;
}
.main-page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 121px;
    height: 72px;
    margin: auto;
}
.zodiac-page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 121px;
    height: 72px;
    margin: auto;
}
.mobile-page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 121px;
    height: 72px;
    margin: auto;
}
.currency-page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 121px;
    height: 72px;
    margin: auto;
}
.language-change-btn{
    background: url(./photos/english-icn.svg);
    background-repeat: no-repeat;
    height: 36px;
    width: 36px;
    border: transparent;
    margin: auto;
    cursor: pointer;
}
.day-night-btn{
    width: 84px;
    height: 38px;
    background: #FFFFFF4D;
    border: transparent;
    border-radius: 36px;
    margin: auto;
    margin-top: 46px;
    margin-bottom: 47px;
    background: url(./photos/night-theme-icn.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    transition: background 0.22s ease;
}
.settings-btn{
    background: url(./photos/setting-icn.svg);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    border: transparent;
    margin: auto;
    margin-bottom: 45px;
    cursor: pointer;
}
.day-mode {
    border-radius: 281px;
    background: radial-gradient(50% 20% at 10% 30%, rgba(233,78,119,0.70) 0%,rgba(233,78,119,0.00) 100%);
}

.day-night-btn.active{
    background: url(./photos/day-theme-icn.svg);
    background-repeat: no-repeat;
    
}
.today{
    height: 460px;
    padding-inline: 30px;
    border-radius: 34px;
    background: radial-gradient(344.65% 167.74% at 0% 0%, rgba(0, 0, 0, 0.39) 0%, rgba(0, 0, 0, 0.00) 100%);
    backdrop-filter: blur(14px);
}
.today-img-div{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    gap: 35px;
    border-bottom: 0.5px solid #FFFFFF80;
    padding-bottom: 58px;
}
.today-img-div p{
    color:#FFFFFFB2;
    font-size: 18px;
    font-weight: 400;
}
.today-head{
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.4px;
    align-items: center;
}
.search-btn{
    width: 69px;
    height: 69px;
    border-radius: 34.5px;
    background: rgba(0, 0, 0, 0.30);
    border: transparent;
    cursor: pointer;
}
.today-img-div h2{
    font-size: 55px;
    letter-spacing: 1.1px;
    font-weight: 400;
    margin: 0;
}
.today-second-part{
    display: flex;
    justify-content: space-between;
    align-items: end;
    color: #FFFFFFB2;
    margin-top: 25px;
}
a{
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.14px;
}
#hours{
    color: rgba(255, 255, 255, 0.90);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.location-icn{
    background: url(./photos/location-icn.svg);
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
}
.location,
.calendar{
    display: flex;
    align-items: center;
    gap: 9px;
}
.calendar-icn{
    background: url(./photos/calendar-icn.svg);
    height: 21px;
    width: 21px;
}
.location{
    margin-bottom: 10px;
}
.highlights,
.highlights-1{
    height: 460px;
    display: grid;
    justify-content: center;
    grid-template-columns: 260px 260px 260px;
    gap: 20px;
    border-radius: 34px;
    background: radial-gradient(344.65% 167.74% at 0% 0%, rgba(0, 0, 0, 0.39) 0%, rgba(0, 0, 0, 0.00) 100%);
    backdrop-filter: blur(14px);
    padding: 69px 30px 20px 30px;
}
#higlights-header{
    color: #FFF;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.44px;
    position: absolute;
    left: 27px;
    top: 20px;
}
.uv-index{
    position: relative;
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.30);
    height: 233px;
    display: grid;
    justify-content: center;
}
p{
    margin: 0;
}
.uv-index p,
.sunrise p{
    color: #FFFFFFCC;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.54px;
    padding-top: 25px;
}
.uv{
    display: flex;
    align-items: baseline;
    gap: 2px;
    position: absolute;
    bottom: 20px;
    left: 40%;
    color: #FFF;
    font-size: 40px;
    letter-spacing: 0.4px;
    font-weight: 500;
}
#uv{
    color: #FFFFFF99;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
}
.sunrise{
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.30);
    height: 233px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sunrise p{
    text-align: start;
    padding-left: 20px;
}
.uv-index p{
    padding-left: 20px;
}
.sunrise-hours{
    display: flex;
    justify-content: space-between;
    color: #FFF;
    padding-bottom: 25px;
}
.sunrise-hours>div{
    display: grid;
    padding-inline: 20px;
}
#sunrise-yellow,
#sunset-yellow{
    color:#FAC32D;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.42px;
}
.sunrise-hours span{
    color:#FFFFFF99;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
}
.humidity{
    background: rgba(0, 0, 0, 0.30);
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    height: 101px;
}
.num-of-humidity{
    display: flex;
    align-items: baseline;
}
h3{
    color: #FFF;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.4px;
    margin: 0px;
    margin-top: 10px;
}
#paragraph-form-highlights{
    color: #FFFFFF99;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.36px;
}
#name-undermoon{
    color:#FFFFFFCC;
    font-size: 14px;
    font-weight: 400;
    
}
#prcnt{
    font-size: 16px;
    color: #FFFFFF99;
}
.humidity-prt2{
    width: 109px;
    
}
.advertising{
    position: relative;
    border-radius: 34px;
    background: radial-gradient(344.65% 167.74% at 0% 0%, rgba(0, 0, 0, 0.39) 0%, rgba(0, 0, 0, 0.00) 100%);
    backdrop-filter: blur(14px);
    display: flex;
    align-items: center;
    gap: 15px;
    padding-inline: 30px;
}
.advertising img {
    max-width: 100%;
    height: auto;
}
.forecast{
    position: relative;
    border-radius: 34px;
    background: radial-gradient(344.65% 167.74% at 0% 0%, rgba(0, 0, 0, 0.39) 0%, rgba(0, 0, 0, 0.00) 100%);
    backdrop-filter: blur(14px);
    padding: 40px 5px;
}
.amindi{
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #FFFFFF66;
    font-size: 14px;
    letter-spacing: -0.14px;
    font-weight: 400;
}
.amindi>div{
    display: flex;
    align-items: center;
}
.amindi h4{
    color: #FFF;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.9px;
}
#temperature-slash{
    font-size: 26px;
    letter-spacing: 0.78px;
    font-weight: 400;
}
.forecast-first-child{
    display: grid;
    gap: 25px;
    overflow-y: scroll;
    height: 250px;
}
.forecast-popup{
    display: flex;
    justify-content: space-between;
    padding-block: 17px;
    padding-inline: 30px;
    border-radius: 18px;
    background: linear-gradient(275deg, rgba(21, 23, 26, 0.30) 60.04%, rgba(67, 69, 71, 0.29) 69.38%, rgba(116, 117, 119, 0.28) 83.13%, rgba(255, 255, 255, 0.24) 107.2%, rgba(21, 23, 26, 0.30) 111.12%);
}
.forecast-popup>div{
    display: grid;
    gap: 5px;
}
.forecast-popup>div span{
    color: #FFFFFFB2;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.42px;
}
h4{
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -0.3px;
    color: #FFF;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.forecast-tag{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-inline: 10px;
    position: absolute;
    top: -50px;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.2px;
}
.forecast-tag button{
    display: flex;
    align-items: center;
    border: transparent;
    background: #70707033;
    color: #FFF;
    border-radius: 17px;
    height: 34px;
    width: 88px;
    justify-content: space-evenly;
    cursor: pointer;
}
#advert{
    position:absolute;
    top: -50px;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.2px;
}
.header-part-1>a:hover{
    background: linear-gradient(92deg, #FFF -277.19%, rgba(255, 255, 255, 0.00) 98.79%);
    border-left: 6px solid white;
}
.day-mode *, 
.day-mode span,
.day-mode #advert,
.day-mode #higlights-header
.day-mode h4{
    color:#000000;
}
.day-mode .header-part-1>a:hover{
    border-left: 6px solid black;
    background: linear-gradient(92deg, #000 -277.19%, rgba(255, 255, 255, 0.00) 98.79%);
}
.highlights-1{
    display: none;
}
#mobile-after-img{
    display: none;
}
@media screen and (max-width: 1495px) {
    .grid-container{
        display:inherit;
    }
    .header{
        display: none;
    }
    .today{
        background: none;
    }
    .today-head{
        display: none;
    }
    .advertising{
        display: none;
    }
    .highlights{
        display: none;
        height: auto;
        grid-template-columns: auto auto;
        background: none;
    }
    .highlights-1{
        display: grid;
        height: auto;
        grid-template-columns: auto auto;
        background: none;
    }
    .humidity{
        height: 178px;
        width: 184px;
    }
    #higlights-header{
        display: none;
    }
    .forecast-tag{
        position: static;
        padding-inline: 24px;
    }
    body{
        margin: 0;
        padding-inline: 25px;
    }
    .uv-index{
        height: 178px;
        width: 184px;
    }
    .sunrise{
        height: 178px;
        width: 184px;
    }
    .uv{
       font-size: 25px;
       letter-spacing: 0.25px; 
    }
    #uv{
        font-size: 14px;
        letter-spacing: 0.42px;
    }
    .uv-index p, .sunrise p{
        padding-top: 13px;
        font-size: 12px;
        letter-spacing: 0.36px;
    }
    .sunrise-hours{
        padding-bottom: 13px;
    }
    .sunrise-hours>div{
        padding-inline: 12px;
    }
    .humidity{
        display: grid;
    }
    h3{
        font-size: 50px;
    }
    .humidity-prt2{
        display: flex;
        gap:15px;    
    }
    .amindi{
        padding-inline: 25px;
        justify-content: space-between;
    }
    .forecast-popup{
        display: none;
    }
    .today-second-part{
        display: none;
    }
    .today-img-div{
        border: 0px;
        display: grid;
        gap: 13px;
        justify-items: center;
    }
    #mobile-after-img{
        display: inherit;
        font-size: 40px;
        font-weight: 300;
        letter-spacing: 0.4px;
        color: #FFF;
    }
    .today-img-mobile{
        display: flex;
        align-items: center;
    }
    .today-img-mobile img{
        width: 48px;
    }
    .today-temp{
        display: grid;
        justify-items: center;
    }
    .today-temp h2{
        font-size: 80px;
        letter-spacing: 1.6px;
    }
    .today-temp p{
        font-size: 14px;
        width: 168px;
    }
}
